.status {
    white-space: nowrap;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
}

@media screen and (max-width: 40em) {
    .title {
        flex-basis: 100%;
    }

    .lightGray {
        color: var(--light-gray-color);
        font-size: 0.8em;
    }

    .color,
    .year {
        flex-basis: 21%;
    }

    .year::before {
        content: "Год: ";
    }

    .color::before {
        content: "Цвет:  ";
    }

    .status {
        flex-basis: 45%;
    }
    .status::before {
        content: "Статуc: ";
    }

    .color-circle {
        width: 15px;
        height: 15px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .price {
        flex-basis: 100%;
        font-size: 1.2em;
        font-weight: 800;
    }
}